.header-section,
.nav-bar,
.main-section,
.sidebar,
.advertise,
.footer {
    background-color: bisque;
    border: 1px solid tomato;
    border-radius: 5px;
}


/* creating the grid are */

.header-section {
    padding-left: 20px;
    grid-area: header-section;
}

.nav-bar {
    grid-area: nav-bar;
}

.nav-bar>ul li {
    margin-bottom: 15px;
    list-style-type: none;
}

.nav-bar ul li a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

.main-section {
    grid-area: main-section;
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    margin-bottom: 20px;
}

.advertise {
    grid-area: advertise;
}

.footer {
    padding-left: 20px;
    grid-area: footer;
}


/* Add style to the container */

.container {
    display: grid;
    grid-template-areas: "header-section header-section   header-section  header-section" "nav-bar  main-section  main-section  sidebar" "nav-bar main-section  main-section  advertise" "footer footer  footer  footer";
    gap: 20px;
}


/* responsive styles */


/* media query for small devices */

@media screen and (max-width: 576px) {
    .container {
        grid-template-areas: "header-section" "nav-bar" "main-secton" "advertise" "sidebar" "footer";
    }
}


/* media query for medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    /* .nav-bar>ul {
        display: flex;
        justify-content: space-evenly;
    } */
    .container {
        grid-template-areas:
        "header-section   header-section   header-section" 
        "nav-bar          nav-bar          nav-bar"
        "sidebar          main-section   main-section" 
        "advertise        footer           footer"
        ;
    }
}